@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-SemiBold.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto/Roboto-Light.ttf) format("opentype");
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
}

.header {
  background-image: url(img/Backgroundimage/header.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.header__content {
  width: 67%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 46px 0 153px 0;
}

.header__content .logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
}

.header__content .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 37px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

.header__content .signin__link .href {
  color: white;
  text-decoration: none;
}

.header__content .btn {
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  width: 90px;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 17px;
}

.header__content .btn:hover {
  background-color: white;
  color: black;
}

.header .title {
  text-align: center;
}

.header .title__main {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  max-width: 470px;
  height: 126px;
  color: white;
  margin: 0 auto;
}

.header .title__subtitle {
  padding: 28px 0 45px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: white;
}

.header .title__button {
  width: 225px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 37px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  border: none;
}

.header .title__button:hover {
  background-color: #ff8f4f;
}

@media all and (max-width: 500px) {
  .header__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 10px 0;
  }
  .header__content .logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .header__content .signin {
    margin: 0 auto;
    padding: 20px 0 170px 0;
  }
  .header .title__main {
    font-size: 32px;
    line-height: 37px;
    height: 60px;
  }
  .header .title__subtitle {
    width: 280px;
    margin: 0 auto;
    font-size: 18px;
    padding: 28px 0 25px 0;
  }
  .header .title__button {
    width: 280px;
  }
}
/*# sourceMappingURL=style.css.map */